/* line 106, icons/*.png */
.icons-sprite, h1, .button.add:before, .button.remove:before, .button.user:before, .button.users:before, .button.calendar:before, .button.next:before, .button.previous:before {
  background: url('/images/icons-saeab2b7dac.png') no-repeat;
}

/* line 90, icons2x/*.png */
.icons2x-sprite {
  background: url('/images/icons2x-sdd5df18150.png') no-repeat;
}

/* line 14, ../sass/screen.sass */
body {
  background-color: #f7f7f7;
  padding: 2em;
  font-family: arial;
}

/* line 19, ../sass/screen.sass */
h1 {
  font-size: 30px;
  background-position: 0 -280px;
  width: 172px;
  height: 38px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 43, ../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
h1:hover, h1.compass-logo_hover, h1.compass-logo-hover {
  background-position: 0 -338px;
}

/* line 29, ../sass/screen.sass */
.normalise-button, .button {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 43, ../sass/screen.sass */
.row {
  padding: 10px 0;
}

/* line 47, ../sass/screen.sass */
.button {
  font-size: 1em;
  line-height: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  color: #555555;
  background-color: #fbbd4f;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #f2f2f2, #ffffff);
  background-image: -moz-linear-gradient(bottom, #f2f2f2, #ffffff);
  background-image: -o-linear-gradient(bottom, #f2f2f2, #ffffff);
  background-image: linear-gradient(bottom, #f2f2f2, #ffffff);
}
/* line 63, ../sass/screen.sass */
.button:hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #e5e5e5, #ffffff);
  background-image: -moz-linear-gradient(bottom, #e5e5e5, #ffffff);
  background-image: -o-linear-gradient(bottom, #e5e5e5, #ffffff);
  background-image: linear-gradient(bottom, #e5e5e5, #ffffff);
}

/* line 73, ../sass/screen.sass */
.button.add:before {
  content: "";
  width: 20px;
  height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 4px;
  margin-top: -3px;
  background-position: 0 -200px;
}

/* line 73, ../sass/screen.sass */
.button.remove:before {
  content: "";
  width: 20px;
  height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 4px;
  margin-top: -3px;
  background-position: 0 -240px;
}

/* line 73, ../sass/screen.sass */
.button.user:before {
  content: "";
  width: 20px;
  height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 4px;
  margin-top: -3px;
  background-position: 0 -80px;
}

/* line 73, ../sass/screen.sass */
.button.users:before {
  content: "";
  width: 20px;
  height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 4px;
  margin-top: -3px;
  background-position: 0 -40px;
}

/* line 73, ../sass/screen.sass */
.button.calendar:before {
  content: "";
  width: 20px;
  height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 4px;
  margin-top: -3px;
  background-position: 0 0;
}

/* line 73, ../sass/screen.sass */
.button.next:before {
  content: "";
  width: 20px;
  height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 4px;
  margin-top: -3px;
  background-position: 0 -160px;
}

/* line 73, ../sass/screen.sass */
.button.previous:before {
  content: "";
  width: 20px;
  height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 4px;
  margin-top: -3px;
  background-position: 0 -120px;
}
